@import './styles/variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

button {
  font-family: inherit;
  cursor: pointer;
}
